 {{>navbar}}
 {{#if error_msg}}
  <div class="invisible">erro,{{error_msg}}</div>
{{/if}}
 <div class="container">    
    <div class="cardMenuEstoque">
      <h1>Menu de controle de estoque</h1>
      <div class="msg" id="msg"><p id="msgtext"></p></div>
      <a  class="menu-estoque" href="/estoque/cadastro">Cadastro</a>
      <a  class="menu-estoque" href="/estoque/entrada">Entrada</a>
      <a  class="menu-estoque" href="/estoque/saida">Saída</a>
    </div>
  </div>