 {{>navbar}}
 <div class="container">    
    <div class="card">
      <h1>Menu de controle do estoque</h1>
      <a  class="menu-estoque" href="/estoque/cadastro">Cadastro</a>
      <a  class="menu-estoque" href="/estoque/insert">Entrada / Saida</a>
      {{!-- <a  class="menu-estoque" href="/estoque/list">Lista de movimentações</a> --}}
    </div>
  </div>