 {{>navbar}}
 {{#if error_msg}}
  <div class="invisible">erro,{{error_msg}}</div>
{{/if}}
 <div class="container">    
    <div class="cardMenuFinanceiro">
      <h1>Menu de controle financeiro</h1>
      <div class="msg" id="msg"><p id="msgtext"></p></div>
      <a  class="menu-financeiro" href="#">Financeiro</a>
    </div>
  </div>