.invisible {
  display: none;
}

.lbl {
  width: 100%;
  margin-left: 20px;
  color: #f0ffff94;
  font-size: 12px;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-image-login {
  width: 90%;
  height: auto;
}

.left-login > h1 {
  color: #BF8C2C;
  font-size: 3vw;
}

.right-login {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
    position:absolute; 
    display: flex;
    width: 30vw;
    height: 10vh;
    top: 20vh;
    left: 35px;;
    border-radius: 8px;
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    color: #fff;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 99;
}

.msg p {
text-align: center;
} 

.msglogin {
  position: relative;
  width: 250px;
  background: #aa0000;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
}

.container {
  width:100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
  color: #BF8C2C;
  font-weight: 800;
  margin: 0;
}

.card, .cardModal, .cardCaixa, .cardEstoque, .cardMenuEstoque, .cardMenuCaixa, .cardFecha, .cardMenuRelatorio {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #000;
  margin: 0;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.card > h1, .cardModal > h1, .cardCaixa > h1, .cardEstoque > h1, .cardMenuEstoque > h1, .cardMenuCaixa > h1, .cardFecha > h1, .cardMenuRelatorio > h1 {
  color: #BF8C2C;
  font-weight: 800;
  margin: 0 0 10px 0;
}

.subTitle {
  border: 1px solid #bf8c2c55;
  padding: 10px;
  text-align: center;
}

.subTitle > h2 {
  margin: 10px 0 ;
  color: #bf8c2cdd;
  font-size: 1.2rem;
}

.line, .lineFecha{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.lineFecha {
  justify-content: space-between;
}

.lbFechaTotal, .fechaTotal {
  color: #2b134b;
  background: #BF8C2C;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.cod {
  width: 30%;
}

.textfield > input, .btnMenu, select {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow:  0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

.textfield > label, select > label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield > input::placeholder {
  color: #f0ffff94;
}

.btn-salvar ,.btn-login, .btn-finalizar, .btn-finalizar-compra {
  width: 100%;
  padding: 16px 5px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #BF8C2C;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px ;
}

.btn-finalizar {
  width: 20%;
  margin-left: 60%;
}

.btn-finalizar-compra {
  width: 20%;
  margin-left: 10px;
}

.menu-estoque, .menu-caixa, .menu-relatorios {
  width: 50%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  /* outline: none; */
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #BF8034;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #593202;
  text-decoration: none;
  text-align: center;
}

.btnMenu {
  text-align: center;
  color: #BF8C2C;
}

.btnItens, .btnFecha {
  width: 20%;
  background: #e7b049;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 5px;
  color: #2b134b;
  font-weight: bold;
  cursor: pointer;
}

.btnFecha {
  background: #BF8C2C;
  font-size: 1.2rem;
}

.list {
  overflow: auto;
}

.select , .select-pg, .select-acesso, .select-prod{
  position: relative;
  width: 100%;
}

.btn-select, .btn-select-pg, .btn-select-acesso, .btn-select-prod {
  padding: 15px 8px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  background-color: #514869;
  color: #f0ffff94;
}

.btn-select span, .btn-select-pg span, .btn-select-acesso span, .btn-select-prod span{
  width: 100%;
}

.select-content, .select-content-pg, .select-content-acesso, .select-content-prod{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #514869;
  color: #f0ffff94;
}

.select-content input, .select-content-pg input, .select-content-prod input{
  padding: 3px;
  width: 90%;
  margin: 5px;
  outline: 0;
  font-size: 14px;
  border-radius: 5px;
}

.select-content .options, .select-content-pg .options-pg, .select-content-acesso .options-acesso, .select-content-prod .options-prod{
  max-height: 250px;
  list-style: none;
  overflow: auto;
  max-height: 100px;
  font-size: 14px;
}

.options li, .options-pg li, .options-acesso li, .options-prod{
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 2px 4px;
  border-radius: 2px;
}

.options li:hover, .options-pg li:hover, .options-acesso li:hover, .options-prod li:hover{
  background-color: #aaa;
  color: #000;
}

.select .active, .select-pg .active, .select-acesso .active, .select-prod .active{
  display: block;
}

.tab-caixa, .tab-fecha {
  display: block;
  width: 100%;
  border-radius: 10px;
  height: 190px;
  margin-bottom: 10px;
}

.tab-caixa thead, .tab-fecha thead {
  display: inline-block;
  width: 99%;
  background-color: #514869;
  border-radius: 10px 10px 0 0 ;
}

.tab-fechaItens{
  display: none;
  width: 60%;
}

.tab-fechaItens thead {
  display: inline-block;
  background: #51486952;
}

.tab-fechaItens thead th {
  color: #2b134b;
}

.tab-fechaItens tbody {
display: inline-block;
background: #f0ffff84;
}

.tab-caixa th, .tab-fecha th {
  color: #f0ffff94;
}

.tab-caixa tbody, .tab-fecha tbody {
  display: inline-block;
  overflow: auto;
  width: 99%;
  height: 200px;
  background-color: #f0ffff94;
  margin-bottom: 20px;
}

.tab-fecha tbody {
  width: 95%;
  height: auto;
}

.tab-caixa td, .tab-fecha td, .tab-fechaItens td {
  text-align: center;
  background-color: #f0ffff94;
}
tbody .venda {
  height: 50px;
  overflow: auto;
}

.l1{
  width: 200px;
}

.lf1, .lf11{
  width: 35%;
}

.l2, .lf2{
  width: 550px;
}

.l3, .lf3{
  width: 20%;
}

.l4{
  width: 20%;
}

.l5{
  width: 20%;
}

.total {
  margin-top: 50px;
  width: 20%;
  flex-direction: row;
}

.total > label {
  width: 300px;
  align-self: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.total > input {
  text-align: end;
  font-size: 20px;
  font-weight: bold;
}

.modal {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background: rgba(200,200,200, 0.7);
  align-content: center;
}

.modal .cardModal {
  margin: auto;
}

.active {
  display: block;
}


@media only screen and (max-width: 1400px) {
  .card-login {
    width: 85%;
  }

  .modal {
    height: 85vh;
  }
  .cardModal {
    width: 90%;
  }

  .bts {
    font-size: 0.6rem;
  }

  .btn-finalizar-compra {
    width: auto;
  }

}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .main-login {
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .right-login {
    width: 90%;
    height: auto;
  }

  .left-image-login {
    width: 50vw;
    overflow: hidden;
  }

  .modal {
    height: 90%;
  }

  .modal .cardModal{
    width: 60%;
    height: 50%;
    align-self: center;
  }

  .modal .cardModal h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  .cardCaixa, .cardEstoque {
    width: 70%;
    height: 85%;
    overflow:auto;
  }

  .cardMenuEstoque {
    width: 70%;
    height: auto;
  }

  .cardMenuEstoque h1 {
    margin-top: 0;
    font-size: 1.2rem;
  }

  .cardCaixa h1, .cardEstoque h1 {
    margin-top: 300px;
    margin-bottom: 0px;
  }

  .line {
    flex-direction: column;
    font-size: 0.7rem;
  }

  .btn-select, .select-content{
    width: auto;
  }

  .textfield{
    width: auto;
  }

  table {
    font-size: 0.6rem;
    height: auto;
    width: 100%;
  }

  .tbody-caixa {
    width: 100%;
    height: 100%;
  }

  .btn-finalizar, .btn-finalizar-compra{
    width: auto;
    margin: 0;
  }

  .bts {
    font-size: 0.6rem;
  }

}