{{>navbar}}
{{#if msg}}
  <div class="invisible">{{tipo}},{{msg}}</div>
{{/if}}
<form action="" method="post" id="form">
  <div class="container">
    <div class="card">
      <h1>Cadastro de Contas fixas</h1>
        <div class="msg" id="msg"><p id="msgtext"></p></div>
      <div class="line">
        <div class="textfield">
          <label for="descricao">*Descrição</label>
          <input type="text" name="descricao" id="descricaoCF" placeholder="Ex: Aluguel" autocomplete="off"/>
        </div>
        <div class="textfield">
          <label for="dataCF">*Data de pagamento</label>
          <input type="text" name="dataCF" id="dataCF" class="date" placeholder="___/___/___  " autocomplete="off"/>
        </div>
        <div class="textfield">
          <label for="valorCF">*Valor</label>
          <input type="text" name="valorCF" id="valorCF" placeholder="Ex: 1.000,00" autocomplete="off"/>
        </div>
      </div>
      <div class="lbl">
        <p>(*) OBRIGATÓRIO (**) Minino de 3 caracteres</p>
      </div>
      <button class="btn-salvar" id="btnSalvarCF">Salvar</button>
    </div>
  </div>
</form>