 {{>navbar}}
 {{#if error_msg}}
  <div class="invisible">erro,{{error_msg}}</div>
{{/if}}
 {{#if success_msg}}
  <div class="invisible">sucesso,{{success_msg}}</div>
{{/if}}
 <div class="container">    
    <div class="cardMenuCaixa">
      <h1>Menu de controle do caixa</h1>
      <div class="msg" id="msg"><p id="msgtext"></p></div>
      <a  class="menu-caixa" href="caixa/abre">Abrir Caixa</a>
      <a  class="menu-caixa" href="caixa/fecha">Fechar Caixa</a>
    </div>
  </div>