{{>navbar}}
{{#if error_msg}}
  <div class="invisible">{{error_msg}}</div>
{{/if}}
{{#if msg}}
  <div class="invisible">{{tipo}},{{msg}}</div>
{{/if}}
<form action="" method="post" id="form">
  <input type="hidden" name="codProd" id="idProd" value="todos">
  <input type="hidden" id="prod-select-rel">
  <div class="msg" id="msg"><p id="msgtext"></p></div>
  <div class="container">
    <div class="card">
      <h1>Relatório de historico de preços</h1>
      <div class="subTitle">
      <div class="line">
        <div class="textfield">
          <label for="btn-select-prod-rel">Produto</label>
          <div class="select-prod-rel">
            <div class="btn-select-prod-rel">
              <span>Todos os produtos</span>
            </div>
            <div class="select-content-prod-rel">
              <input type="text" id="input-select-prod-rel">
              <ul class="options-prod-rel">
              </ul>
            </div>
          </div>
        </div>
      </div>
        <h2>Filtrar relatório por periodo</h2>
      <div class="line">
        <div class="textfield">
          <label for="dateIni">*Data início</label>
          <input type="text" name="dateIni" id="dateIni" class="date" placeholder="___/___/___  " autocomplete="off"/>
        </div>
        <div class="textfield">
          <label for="dateFim">*Data fim</label>
          <input type="text" name="dateFim" id="dateFim" class="date" placeholder="___/___/___  " autocomplete="off"/>
        </div>
      </div>
      <div class="lbl">
        <p>(*) OBRIGATÓRIO</p>
      </div>
      </div>
      <button class="btn-salvar" id="btnRelatorioHistorico">Gerar Relatório</button>
    </div>
  </div>
</form>